<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
</style>
*{
    margin:0px ;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.btn-primary{

    border-radius: 5px;
    background: #FD6E0A;
    border:0 ;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    padding:18px 35px;
}



/* nav related styles */

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display:flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;

}
nav a {
    text-decoration: none;
    color:#474747;

}
.weblogo{
    color:  #181818;
    font-size: 45px;
    font-weight: 800;
}
.f {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}